{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

	<div class="container p-3 bg-light rounded shadow-custom">
	
		<h2> Rejestracja <hr></hr></h2>
		
		<div class="row m-0">

			<div class="col-lg-6">
				<h5 class="mb-3"> Kilka słów o aplikacji </h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed sagittis ligula. Aenean fermentum quam eu fringilla vehicula. Quisque ac arcu faucibus, scelerisque felis vel, sollicitudin tellus. Morbi nulla nibh, pretium non accumsan quis, rhoncus at nisl. Vestibulum nec iaculis orci. Sed tincidunt purus in turpis iaculis, eget porttitor mi viverra. Nulla elementum elit a placerat dictum.</p>
			</div>

			<div class="col-lg-6">
				<h5 class="mb-3"> Utwórz konto! </h5>
			
				<form method="post" action="/signup/create">
					
					<label class="sr-only" for="username"> Name </label>
					<input class="form-control mt-2" type="text" id="username" name="username" placeholder="Imię" 	value="{{ user.username }}" />
					
					{% if user.errors['error_username'] %}
						<div class="error">
							{{ user.errors['error_username'] }}
						</div>
					{% endif %}
					
					<label class="sr-only" for="email"> Email </label>
					<input class="form-control mt-2" type="email" id="email" name="email" placeholder="E-mail" 		value="{{ user.email }}" />
					
					{% if user.errors['error_email'] %}
						<div class="error">
							{{ user.errors['error_email'] }}
						</div>
					{% endif %}
					
					<label class="sr-only" for="password"> Password </label>
					<input class="form-control mt-2" type="password" id="password" name="password" 
						placeholder="Hasło" />
						
					{% if user.errors['error_password'] %}
						<div class="error">
							{{ user.errors['error_password'] }}
						</div>
					{% endif %}
					
					<label class="sr-only" for="repeat_password"> Repeat password </label>
					<input class="form-control mt-2" type="password" id="repeat_password" name="repeat_password" 	placeholder="Powtórz hasło" />
					
					{% if user.errors['error_repeat_password'] %}
						<div class="error">
							{{ user.errors['error_repeat_password'] }}
						</div>
					{% endif %}
							
					<div class="row mx-0 mt-4">
						<input type="submit" class="col btn btn-info" value="Zarejestruj" />
						<input type="reset" class="col ml-2 btn btn-danger" value="Wyczyść" />
					</div>
					
					<a href="/Login" class="mt-3 mb-4 col btn btn-success"> Logowanie </a>
					
				</form>	
			</div>
		</div>
	</div>

{% endblock %}
