{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-7 col-lg-8">
				<div class="shadow-lg app-description p-3">
					<h1 class="mt-4">Kilka słów o aplikacji</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed sagittis ligula. Aenean fermentum quam eu fringilla vehicula. Quisque ac arcu faucibus, scelerisque felis vel, sollicitudin tellus. Morbi nulla nibh, pretium non accumsan quis, rhoncus at nisl. Vestibulum nec iaculis orci. Sed tincidunt purus in turpis iaculis, eget porttitor mi viverra. Nulla elementum elit a placerat dictum. Aliquam vehicula tellus ac neque elementum, eu ornare erat auctor. Nulla fermentum dictum metus.</p>
				</div>
			</div>
				
			<div class="col-md-5 col-lg-4 mt-3 mt-md-0">
				<div class="shadow-lg app-description pb-4">
					<h2 class="text-center">Zarejestruj się!</h2>
					
					<form method="post" action="/Signup/create">
					
						<div class="form-group mt-4">
							<label for="username" class="sr-only">Name</label>
							<input type="text" id="username" name="username" class="form-control" placeholder="Imię" value="{{ user.username }}" />
						</div>
						<div class="error">
							{% if user.errors['error_username'] %}
								{{ user.errors['error_username'] }}
							{% endif %}
						</div>
						
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" id="email" name="email" class="form-control" placeholder="E-mail" value="{{ user.email }}" />
						</div>
						<div class="error">
							{% if user.errors['error_email'] %}
								{{ user.errors['error_email'] }}
							{% endif %}
						</div>
						
						<div class="form-group">
							<label for="password" class="sr-only">Password</label>
							<input type="password" id="password" name="password" class="form-control" placeholder="Hasło"/>
						</div>
						<div class="error">
							{% if user.errors['error_password'] %}
								{{ user.errors['error_password'] }}
							{% endif %}
						</div>
							
						<div class="form-group">
							<label for="repeat-password" class="sr-only">Password</label>
							<input type="password" id="repeat_password" name="repeat_password" class="form-control" placeholder="Powtórz hasło"/>
						</div>
						<div class="error">
							{% if user.errors['error_repeat_password'] %}
								{{ user.errors['error_repeat_password'] }}
							{% endif %}
						</div>
						
						<div class="text-center">
							<input type="submit" class="btn btn-success" value="Zarejestruj"/>
							<input type="reset" class="btn btn-danger" value="Wyczyść"/>
						</div>
						
						<div class="text-center">
							<a href="/Login" class="btn btn-primary mt-3 px-5">Logowanie</a>
						</div>
						
					</form>
					
				</div>
			</div>
		</div>
	</div>

{% endblock %}
