body {
  margin: 0px;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../img/cork.png");
}

.navbar-brand i{
  color: #29a329;
  font-weight: 700;
}

.navbar-brand:hover i{
  color: #258e25;
}

.navbar-toggler:hover,
.navbar-toggler:focus{
  outline: none;
  background-color: #ddd;
}

.form-control:focus {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 0 #ccc;
} 

.form-check {
  background-color: #eee;
  border: 1px solid #ddd; 
  border-radius: 4px;
  margin: 4px 0;
  padding: 0;
}

.form-check label{
  width: 100%;
  padding: 0 0 0 3px;
  font-weight: 600;
}

.form-check label:hover,
.form-check input:hover {
  cursor: pointer;
}

.shadow-custom {
  box-shadow: 0px 0px 6px -2px black;	
}

#comment {
  resize: none;
}

.table:hover {
  cursor: pointer;
}

.error {
  background-color: #ffcccc;
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 4px;
  padding: 2px 7px;
  border: 1px solid #ffb3b3;
  border-radius: 4px;
}

.pointer:hover {
  cursor: pointer;	
}
