{% extends "base2.html" %}

{% block title %}Show Balance{% endblock %}

{% block body %}

	<div class="container p-3 pb-5 mb-5 bg-light rounded shadow-custom">
	
		<div class="col">
			
			<h2>Bilans<hr></hr></h2>
			
			{% if balance.sumOfIncomes - balance.sumOfExpenses >= 0 %}
				<div class="mt-3 alert alert-success text-center">
			{% else %}
				<div class="alert alert-dark text-center">
			{% endif %}
				
			<b>General balance: {{ balance.sumOfIncomes - balance.sumOfExpenses }}</b>
					
			{% if balance.sumOfIncomes >= balance.sumOfExpenses %}
				<p>Congratulations, you are a great financial manager!</p>
			{% else %}
				<p>Be careful, you run into debt!</p>
			{% endif %}
				</div>			
				
			<div class="col-5 ml-auto p-0">
						
				<form method="post" id="balanceForm" action="/profile/showBalance">
						
					<label class="mb-0 mt-2" for="selectDate"><b> Wybierz okres </b></label>
					<select class="form-control" id="selectDate" name="selectDate">
						<option value="1" {{ option1 }}> Bieżący miesiąc </option>
						<option value="2" {{ option2 }}> Poprzedni miesiąc </option>
						<option value="3" {{ option3 }}> Bieżący rok </option>
						<option value="4" {{ option4 }} data-toggle="modal" 
							data-target="#myModal"> Niestandardowy </option>
					</select>
							
				</form>
			</div>
			
			<div class="row mt-5">
			
				<div class="col-lg-9">
				<h4> Przychody </h4>
					<table class="table table-sm table-hover table-striped table-bordered rounded">
						<thead class="bg-info text-white">
							{% if balance.incomes %}
								<tr>
									<th>Lp.</th>
									<th>Category</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								{% set count = 0 %}
								{% for income in balance.incomes %}
									{% set count = count + 1 %}
									<tr>
										<td> {{ count }} </td>
										<td>{{ income['name'] }}</td>
										<td>{{ income['amount']}}</td>
									</tr>
								{% endfor %}
								<tr>
									<th colspan="2"> Suma </td>
									<th>{{ balance.sumOfIncomes }}</th>
								</tr>
							</tbody>
							{% else %}
								<tr>
									<th> Brak przychodów!</th>
								</tr>
							</thead>
							{% endif %}
					</table>
				
				</div>
				
				<div class="col-8 col-lg-3 mx-auto" id="incomes-parent-chart">
					<canvas id="incomes-chart"></canvas>
				</div>
				
			</div>
			
			<div class="row mt-5">
			
				<div class="col-lg-9">
				
					<h4> Wydatki </h4>	
					<table class="table table-sm table-hover table-striped table-bordered rounded">
						<thead class="bg-info text-white">
							{% if balance.expenses %}
								<tr>
									<th>Lp.</th>
									<th>Category</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								{% set count = 0 %}
								{% for expense in balance.expenses %}
									{% set count = count + 1 %}
									<tr>
										<td>{{ count }}</td>
										<td>{{ expense['name'] }}</td>
										<td>{{ expense['amount']}}</td>
									</tr>
								{% endfor %}
								<tr>
									<th colspan="2"> Suma </td>
									<th>{{ balance.sumOfExpenses }}</th>
								</tr>
							</tbody>
							{% else %}
								<tr>
									<th> Brak wydatków!</th>
								</tr>
							</thead>
							{% endif %}
					</table>
						
				
				</div>
				
				<div class="col-8 col-lg-3 mx-auto" id="expenses-parent-chart">
					<canvas id="expenses-chart"></canvas>
				</div>
				
			</div>
		</div>
	</div>
		
			<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Podaj okres do wyświetlenia</h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>					
				</div>
				
				<form id="modalForm" method="post" action="/profile/showBalance">
				
					<div class="modal-body">
						<div class="row mb-3">
							<div class="pl-3 mt-1">
								<label for="date">Data od:</label>
							</div>	
							<div class="col-8">
								<input type="date" id="startDate" name="startDate" class="form-control"/>
							</div>
						</div>
							
						<input type="hidden" name="selectDate" value="4" />
						
						<div class="row">
							<div class="pl-3 mt-1">
								<label for="date">Data do:</label>
							</div>	
							<div class="col-8">
								<input type="date" id="endDate" name="endDate" class="form-control"/>
							</div>
						</div>
						
						<div class="ml-5">
							<div class="col-8 error ml-4" id ="errorDate" style="visibility: hidden;"> 
								Invalid date!
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="btn-show-balance">Pokaż</button>
						<button type="button" class="btn btn-danger btn-close" data-dismiss="modal">Zamknij</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="/js/balance.js"></script>
	
{% endblock %}
