{% extends "base2.html" %}

{% block title %}Settings{% endblock %}

{% block body %}
<div class="container mt-5">
			<div class="col-md-10 mx-auto">
				<div class="shadow-lg app-description p-3">
					<h2 class="pl-3">Ustawienia</h2>
					<div class="px-3 mt-3">
						<form action="menu.html">
							<fieldset class="col shadow-xl rounded-xl">
								<legend class="w-auto p-2"> Edytuj dane użytkownika </legend>
								<div class="row mb-3">
									<div class="pl-3">
										<label for="editName">Edytuj imię:</label>
									</div>
									<div class="col-10 col-lg-5">
										<input type="text" id="editName" class="form-control" placeholder="Podaj nowe imię"/>
									</div>
								</div>
								<div class="row mb-3">
									<div class="pl-3">
										<label for="editEmail">Edytuj email:</label>
									</div>
									<div class="col-10 col-lg-5">
										<input type="email" id="editEmail" class="form-control" placeholder="Podaj nowy email"/>
									</div>
								</div>
								<div class="row mb-3">
									<div class="pl-3">
										<label for="editPassword">Edytuj hasło:</label>
									</div>
									<div class="col-10 col-lg-5">
										<input type="Password" id="editPassword" class="form-control" placeholder="Podaj nowe hasło"/>
									</div>
								</div>
								<div class="pl-3 my-3">
									<input type="submit" class="btn btn-success px-4" value="Zapisz"/>
									<a href="menu.html" class="btn btn-danger">Anuluj</a>
								</div>
							</fieldset>
						</form>
					</div>
						
					<div class="px-3 mt-3">
						<form action="menu.html">
							<fieldset class="col shadow-xl rounded-xl">
							<legend class="w-auto p-2"> Edytuj kategorie </legend>
								
								<div class="row mb-3">
									<div class="col-lg-3"><label><input type="radio" name="category"/> Przychody</label></div>
									<div class="col-lg-3"><label><input type="radio" name="category"/> Wydatki</label></div>
									<div class="col-lg-3"><label><input type="radio" name="category"/> Płatności</label></div>
								</div>
								
								<div class="row mb-3">
									<div class="pl-3">
										<label for="addCategory">Dodaj:</label>
									</div>
									<div class="col-8 col-lg-5">
										<input type="text" id="addCategory" class="form-control" placeholder="Podaj nazwę kategorii"/>
									</div>
								</div>
								<div class="row mb-3">
									<div class="pl-3">
										<label for="deleteCategory">Usuń:</label>
									</div>
									<div class="col-8 col-lg-5">
										<input type="text" id="deleteCategory" class="form-control" placeholder="Podaj nazwę kategorii"/>
									</div>
								</div>
								<div class="row mb-3">
									<div class="pl-3">
										<label for="editCategory">Edytuj:</label>
									</div>
									<div class="col-8 col-lg-5">
										<input type="text" id="editCategory" class="form-control" placeholder="Podaj nazwę kategorii"/>
									</div>
									<div class="col-8 col-lg-5 mt-2 mt-lg-0">
										<input type="text" id="editCategoryNewName" class="form-control" placeholder="Podaj nową nazwę"/>
									</div>
								</div>
								<div class="pl-3 my-3">
									<input type="submit" class="btn btn-success px-4" value="Zapisz"/>
									<a href="menu.html" class="btn btn-danger">Anuluj</a>
								</div>
							</fieldset>
						</form>
					</div>	
				</div>
			</div>
		</div>
{% endblock %}