{% extends "base2.html" %}

{% block title %}Settings{% endblock %}

{% block body %}

	<div class="container p-3 bg-light rounded shadow-custom">
	
		<div class="col">
			
			<h2> Ustawienia <hr></hr></h2>
		
		<div id="accordion">	
		
			<div class="card">
				<div class="bg-info pointer" data-toggle="collapse" data-target="#incomesCard" >
					<div class="d-flex flex-row">
						<div class="pl-1 text-white w-100" >
							<b> Kategorie przychodów </b>
						</div>
					</div>
				</div>	
			
				<div id="incomesCard" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<label><b> Kategoria </b></label>
						
						<form id="income" method="post">
						</form>
						
					</div>
				</div>
			</div>
		
			<div class="card">
				<div class="bg-info pointer" data-toggle="collapse" data-target="#expensesCard" >
					<div class="d-flex flex-row">
						<div class="pl-1 text-white w-100" >
							<b> Kategorie wydatków </b>
						</div>
					</div>
				</div>	
			
				<div id="expensesCard" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<label><b> Kategoria </b></label>
						
						<form id="expense" method="post">
						</form>	
						
					</div>
				</div>
			</div>
		
			<div class="card">
				<div class="bg-info pointer" data-toggle="collapse" data-target="#paymentsCard" >
					<div class="d-flex flex-row">
						<div class="pl-1 text-white w-100" >
							<b> Sposoby płatności </b>
						</div>
					</div>
				</div>	
			
				<div id="paymentsCard" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<label><b> Kategoria </b></label>
						
						<form id="payment" method="post">
						</form>
						
					</div>
				</div>
			</div>

			<div class="card">
			
				<div class="bg-info pointer" data-toggle="collapse" data-target="#user" >
					<div class="d-flex flex-row">
						<div class="pl-1 text-white w-100" >
							<b> Użytkownik </b>
						</div>
					</div>
				</div>	
			
				<div id="user" class="collapse" data-parent="#accordion">
					<div class="card-body">
						<form id="user-form" method="post">
						
							<label class="mb-0 mt-1"><b> Imię </b></label>
							<div class="form-check">
								<label class="col-form-label" >
									<input type="radio" name="category" value="name"/>
									<span>  </span>
								</label>
							</div>
							
							<label class="mb-0 mt-1"><b> E-mail </b></label>
							<div class="form-check">
								<label class="col-form-label" >
									<input type="radio" name="category" value="email"/>
									<span>  </span>
								</label>
							</div>
							
							<label class="mb-0 mt-1"><b> Hasło </b></label>
							<div class="form-check">
								<label class="col-form-label" >
									<input type="radio" name="category" value="password"/>
									<span> Twoje hasło </span>
								</label>
							</div>	
							
							<div class="col btn btn-info p-0 mt-2" onclick="user.edit()"> Edytuj </div>
							
						</form>
							
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Income Modal -->
	<div class="modal fade" id="income-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="income-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" />
						<input class="form-control" type="hidden" name="id" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="income.editExecute()"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Add income Modal -->
	<div class="modal fade" id="add-income-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Dodawanie kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="add-income-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="income.addExecute()"> Dodaj </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Remove income Modal -->
	<div class="modal fade" id="remove-income-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Czy na pewno usunąć kategorię? </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="remove-income-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" readonly/>
						<input class="form-control" type="hidden" name="id" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="income.removeExecute()"> Usuń </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Info Modal -->
	<div class="modal fade" id="info-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 id="header-modal" class="modal-title"> </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>

				<div class="modal-body">
					<div id="content-modal"> </div>
				</div>
				
				<div class="modal-footer">
					<div class="col btn btn-info" data-dismiss="modal"> Ok </div>
				</div>
					
			</div>
		</div>
	</div>
	
	<!-- Expense Modal -->
	<div class="modal fade" id="expense-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="expense-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" />
						<input class="form-control" type="hidden" name="id" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="expense.editExecute()"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Add expense Modal -->
	<div class="modal fade" id="add-expense-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Dodawanie kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="add-expense-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="expense.addExecute()"> Dodaj </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Remove expense Modal -->
	<div class="modal fade" id="remove-expense-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Czy na pewno usunąć kategorię? </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="remove-expense-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" readonly/>
						<input class="form-control" type="hidden" name="id" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="expense.removeExecute()"> Usuń </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Expenses Modal -->
	<div class="modal fade" id="expenses-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="expenses-modal-form" method="post">
				
					<div class="modal-body">
					
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="categoryName"/>

						<div class="mt-2">
							<label class="col-form-label">
								<input type="checkbox" id="categoryLimitCheck" name="categoryLimitCheck" onclick="activeField()" />
								Włącz limit kategorii
							</label>
						</div>
						
						<label class="mb-0 mt-2" for="amount"><b> Ustaw miesięczny limit kategorii </b></label>
						<input class="form-control" type="number" id="categoryLimit" name="categoryLimit" step="0.01" disabled/>
						
					</div>
					
					<div class="modal-footer">
					
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
						
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Payment Modal -->
	<div class="modal fade" id="payment-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="payment-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" />
						<input class="form-control" type="hidden" name="id" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="payment.editExecute()"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Add payment Modal -->
	<div class="modal fade" id="add-payment-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Dodawanie kategorii </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="add-payment-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="payment.addExecute()"> Dodaj </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- Remove payment Modal -->
	<div class="modal fade" id="remove-payment-modal" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Czy na pewno usunąć kategorię? </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="remove-payment-modal-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Nazwa kategorii <b></label>
						<input class="form-control" type="text" name="name" readonly/>
						<input class="form-control" type="hidden" name="id" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" 
								onclick="payment.removeExecute()"> Usuń </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- User Name Modal -->
	<div class="modal fade" id="user-modal-name" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja imienia </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="user-modal-name-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Imię <b></label>
						<input class="form-control" type="text" name="name" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" onclick="user.editName()"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- User Email Modal -->
	<div class="modal fade" id="user-modal-email" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja e-maila </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="user-modal-email-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> E-mail <b></label>
						<input class="form-control" type="text" name="name" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" onclick="user.editEmail()"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<!-- User Password Modal -->
	<div class="modal fade" id="user-modal-password" role="dialog">
	
		<div class="modal-dialog modal-lg">
		
			<div class="modal-content">
			
				<div class="modal-header">
					<h4 class="modal-title"> Edycja hasła </h4>
					<button type="button" class="close btn-close" data-dismiss="modal">&times;</button>			
				</div>
				
				<form id="user-modal-password-form" method="post">
				
					<div class="modal-body">
						<label class="mb-0 mt-2"><b> Hasło <b></label>
						<input class="form-control" type="text" name="name" />
					</div>
					
					<div class="modal-footer">
						<div class="row m-0 w-100">
							<div type="button" class="col btn btn-info" onclick="user.editPassword()"> Zmień </div> 
							<div class="col ml-2 btn btn-danger" data-dismiss="modal"> Anuluj </div>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
	
	<script src="/js/Category.js"></script>
	<script src="/js/User.js"></script>
	<script>

	$(document).ready(function() {
		var income = new Category('income');
		var expense = new Category('expense');
		var payment = new Category('payment');
		var user = new User();
	});
	
	</script>
	
	

{% endblock %}