{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}
	
	<div class="container p-3 bg-light rounded shadow-custom">
	
		<h2> Logowanie <hr></hr></h2>
		
		<div class="row m-0">
			<div class="col-md-8 col-lg-6 mx-auto">
			
				<h5 class="mb-3 text-center"> Zaloguj się! </h5>
			
				<form method="post" action="/login/create">
					
					<label class="sr-only" for="email"> Email </label>
					<input class="form-control mt-2" type="email" id="email" name="email" placeholder="E-mail"
						value="{{ email }}" />
					
					<label class="sr-only" for="password"> Password </label>
					<input class="form-control mt-2" type="password" id="password" name="password" 
						placeholder="Hasło" />
						
					{% if error_login %}
						<div class="error">
							{{ error_login }}
						</div>
					{% endif %}
					
					<div class="row mx-0 my-4">
						<input type="submit" class="col btn btn-info" value="Zaloguj" />
						<input type="reset" class="col ml-2 btn btn-danger" value="Wyczyść" />
					</div>
					
				</form>	
			</div>
		</div>
	</div>

{% endblock %}
