{% extends "base2.html" %}

{% block title %}Menu{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="shadow-lg app-description p-3">
					<h2 class="text-center">Przegląd wydatków z tego miesiąca</h2>
					<div class="row">
						<div class="col-10 col-lg-8 mx-auto">
							<fieldset class="shadow-xl rounded-xl pl-3 mt-3">
								<h3 class="pt-3">Wydatki</h3>
								<p id="expenses" style="font-size: 15px;">
									<div>
										{{ user.username }}, {{ user.email }}, {{ user.id }},
									</div>
								</p>
							</fieldset>
						</div>
					</div>
					<div class="row">
						<div class="col mt-3" id="chart-parent">
							<canvas id="chart" width="200" height="100"></canvas>
						</div>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
