{% extends "base2.html" %}

{% block title %}Add Income{% endblock %}

{% block body %}

	<div class="container p-3 mb-5 bg-light rounded shadow-custom">
	
		<div class="col">
			
			<h2>Dodawanie przychodu<hr></hr></h2>
				
			<form method="post" action="/profile/addIncome">
				
				<label class="mb-0 mt-2" for="amount"><b> Kwota </b></label>
				<input class="form-control" type="text" id="amount" name="amount" step="0.01"
					value="{{ income.amount }}" />
				
				{% if income.errors['error_amount'] %}
					<div class="error">
						{{ income.errors['error_amount'] }}
					</div>
				{% endif %}
				
				<label class="mb-0 mt-2" for="date"><b> Data </b></label>
				<input class="form-control" type="date" id="date" name="date" value="{{ date }}" />

				{% if income.errors['error_date'] %}
					<div class="error">
						{{ income.errors['error_date'] }}
					</div>
				{% endif %}

				<label class="mb-0 mt-2"><b> Kategoria </b></label>
				
				{% for inc in incomes %}				
					<div class="form-check">
						<label class="col-form-label">
							<input type="radio" name="category" value="{{ inc['id'] }}"
								{% if income.category == inc['id'] %} checked {% endif %} />
							{{ inc['name'] }}
						</label>
					</div>	
				{% endfor %}	
				
				{% if income.errors['error_radio'] %}
					<div class="error">
						{{ income.errors['error_radio'] }}
					</div>
				{% endif %}
								
				<div class="form-group">
					<label class="mb-0 mt-2" for="comment"><b> Komentarz </b></label>
					<textarea class="form-control" id="comment" name="comment"></textarea>
				</div> 
						
				<div class="row m-0">
					<input type="submit" class="col btn btn-info" value="Dodaj" />
					<input type="reset" class="col ml-2 btn btn-danger" value="Wyczyść" />
				</div>
			
			</form>	
		</div>
	</div>
	
{% endblock %}
